/* Reset */
* {
  box-sizing: border-box;
  list-style: none;
  border: 0;
  padding: 0;
  margin: 0;
}

/* Variables */
:root {
  --primary-color: #C0B283;
  --highlight-color: #9E191D;
  --dark-color: #212121;
  --gray-color: #616161;
  --variable-color: #F5F5F5;

  --light-color: #FFF;

  --golden-primary: #BBA05D;
  --golden-secondary: #C0B283;

  --button-text-color: ;
  --button-bgcolor: ;

  --footer-color: #424242;
  --copyright-color: var(--gray-color);
}

/* Show tags */
nav, header, section, aside, main {
  display: block;
}

/* STRUCTURE OF LAYOUT - STANDARD */
body {
  font-size: 16px;
}

.txt-highlight {
  font-size: 2.625rem;
}

.txtsub-highlight {
  font-size: 2rem;
}

.txt-title,
.txtsub-title {
  font-size: 1.625rem;
}

.txt-title {
  text-transform: uppercase;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

header h1,
header h2,
header h3,
header h4 {
  text-align: center;
}

.team,
.above-scroll {
  background-color: #F0F0F0;
}

.above-scroll {
  height: 85vh;
}

.actuation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  color: var(--light-color, #FFF);
  background-color: var(--footer-color);
}

.copyright {
  text-align: center;
  background-color: var(--copyright-color);
}

/*
  Components UI
  
  * Button
  * Card
  * FORM
  * NAVBAR
 */

.btn {
  color: var(--light-color, #FFF);
  box-shadow: 0 0.167em 0.333em rgba(0, 0, 0, 0.16);
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0.789em 0.967em;
  background-color: var(--highlight-color);
}


.card {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--dark-color, #212121);
  text-align: center;
  padding: 0.875em;
}

.card-icon {
  display: inline-block;
  color: var(--golden-primary);
  font-size: 1rem;
  padding: 1em;
}

.card-title {
  text-transform: uppercase;
  margin-bottom: 0.525em;
}


form,
.embedded-map {
  padding: 2em;
}

form input,
form textarea {
  width: 100%;
}

label,
input {
  display: block;
}

label {
  font-size: 1rem;
  font-weight: 600;
}

label + label {
  margin-top: 35px;
}

label input,
label + textarea {
  margin-top: 5px;
}

input,
textarea {
  padding: .9em;
  border: 1px solid var(--gray-color);
}

input:focus {
  border-color: var(--primary-color);
}

textarea {
  margin-bottom: 35px;
}


nav {
  color: var(--primary-color, #FFF);
  height: 4.063rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: var(--dark-color);
}

/* MOBILE */
@media (max-width: 1024px) {
  input {
    height: 50px;
  }
}